:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--grey-400);
  color: var(--text-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Neutral Grey Shades */
  --grey-50: #fcfcfc;
  --grey-100: #f8f8f8;
  --grey-200: #f0f0f0;
  --grey-300: #e0e0e0;
  --grey-400: #c0c0c0;
  --grey-500: #a0a0a0;
  --grey-600: #808080;
  --grey-700: #606060;
  --grey-800: #404040;
  --grey-900: #202020;
  --grey-950: #101010;

  /* Blue Accent */
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;

  --text-dark: #fefefe;
  --text-light: #0f0f0f;
}

.container {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: var(--text-light);
}

button {
  border: none;
  outline: none;

  color: var(--text-light);

  display: grid;
  align-items: center;

  border-radius: 0.5rem;

  background: var(--grey-200);
}

button:hover {
  background: var(--grey-50);
}


@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text-dark);
    background-color: var(--grey-900);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  li {
    color: var(--text-dark);
  }

  button {
    color: var(--text-dark);
    background: var(--grey-800);
  }

  button:hover {
    background: var(--grey-700);
  }
}
